.user-profile .card {
  border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.user-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.user-profile .card p {
  font-size: 16px;
  color: #000;
}

.user-profile .table th,
.user-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.ScriptHeader {
  float: left;
  width: 100%;
  padding: 2em 0;
}
.rt-heading {
  margin: 0 auto;
text-align:center;
}
.Scriptcontent{
line-height:28px;	
}
.ScriptHeader h1{
font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;

}
.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;

}
.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;

}
.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}
.pull-right{
  float: right !important;
}