.user-profile .card {
  border-radius: 10px;
}

.user-profile .card .card-header {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
}

.pr-content-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile_img{
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 50%;
}

.user-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.user-profile .card p {
  font-size: 16px;
  color: #000;
}

.user-profile .table th,
.user-profile .table td {
  font-size: 14px;
  padding: 5px
   10px;
  color: #000;
}

.ScriptHeader {
  float: left;
  width: 100%;
  padding: 2em 0;
}
.rt-heading {
  margin: 0 auto;
text-align:center;
}
.Scriptcontent{
line-height:28px;	
}
.ScriptHeader h1{
font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;

}
.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;

}
.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;

}
.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}
.pull-right{
  float: right !important;
}

.img-profile-container, .profile-info-container{
 width: 49%;

}

.img-profile-container {
  padding: 4rem 10rem;
}

.profile-info-container{
  padding-right: 10rem;
  padding-top: 4rem;
}


.img-profile-container>img{
  width: 100%;
}

.profile-basic-information {
  margin-top: 2rem;
}

.text-title-profile{
  font-weight: 700;
}

.profile-details-container{
  display: flex;
  justify-content: space-between;
}

.separator-verical {
  width: 5px;
  height: 200px;
  background-color:#b0b0b0;
}

.nav-header {
 height: 100px;
 background-color: rgb(244, 244, 244);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2rem 2rem;
}

.nav-header>a, .icon-logout{
 font-size: 30px;
}

.profile-upper {
  display: flex;
  align-items: center;
}



.id-profile-container {
  width:  100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-image-profile-container>img {
  width: 450px;
  height: 250px;
}